.black-text {
  color: black;
}
h1 {
  text-decoration: underline;
}
p {
  font-size: 20px;
}
.main-container {
  
  margin: 3vh 5vw 3vh 5vw;
  background-color: #92b1e8;
  padding: 50px;
}
.font-size {
  font-size: 16px;
}

.thumbnail {
  border: 5px solid white;
  background: white;
}

.smaller-pic {
  width: 100%;
  height: auto;
}
.title-text { 
  font-family: 'Slabo 27px', serif;
} 
